<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/usuario/salvar/<%= usuario[0].id %>" method="post">
    
        <div>
            <label>Nome</label>
            <br>
            <input type="text" value="<%= usuario[0].nome %>" name="nome" id="nome">
        </div>
        <div>
            <label>E-mail</label>
            <br>
            <input type="text" name="email" id="email" value="<%= usuario[0].email %>">
        </div>
        <div>
          <label>Senha</label>
          <br>
          <input type="password" name="senha" id="senha" value="<%= usuario[0].senha %>">
      </div>
        <div>
        <br>
        <br>
        <input type="submit" value="salvar ">
    </form>
</body>
</html>