<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Lista de Produtos</h1>
    <table>
        <tr>
            <th>Descrição</th>
            <th>Preço</th>
        </tr>
        <% for (let i=0; i < produto.length;i++ ) { %>
        <tr>
            <td>
                <%= produto[i].descricao %>
            </td>
            <td>
                <%= produto[i].preco %>
            </td>
            <td>
                <a href="/admin/editar/<%= produto[i].id%>">Editar</a>
                <a href="/admin/excluir/<%= produto[i].id%>">Excluir</a>
            </td>
        </tr>
                <% } %>     
    </table>
</body>
</html>